[Unit]
Description=inference service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Environment=HEARTBEAT_DIR=/run/edge_hb
WorkingDirectory=/opt/edge-software/services/inference
ExecStart=/usr/bin/python3 main.py
Restart=on-failure
RestartSec=2
CPUQuota=50%
MemoryMax=200M

[Install]
WantedBy=multi-user.target
