# For DHT22 temperature/humidity sensor
adafruit-circuitpython-dht
Adafruit-Blinka
board
lgpio
RPi.GPIO
# For GY-91 10-DOF sensor (MPU9250 + BMP280)
imusensor
numpy
easydict
adafruit-circuitpython-bmp280
smbus2
# For CogniCore communication
redis
systemd-python
